<h1>Create Gift Exchange</h1>

<div class="form">
<%= form_for @event do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>
<%= f.label :date %>
<%= f.date_select :date %> <br>
<%= f.label "Location" %>
<%= f.collection_select :location_id, Location.all, :id, :city, prompt: true %> <br>
<%= f.label "Gift Price Limit" %>
<%= f.number_field :dollar_amt_limit %> <br>
<%= f.label :description %>
<%= f.text_area :description %> <br>
<%= f.submit %>
<% end %>
</div>