<h1><%= @event.name %> Gift Exchange</h1>
<br>
<% date = @event.date.to_s.split("-") %>

<h3>When: <%= date[1] %>/<%= date[2] %>/<%= date[0] %></h3>
<h3>Where: <%= @event.location.full_address %></h3>
<h3>Max cost of gift: $<%= @event.dollar_amt_limit %></h3>

<h3>Attendees: </h3>
<ul>
<% @event.users.distinct.each do |user| %>
<li><h5><%= link_to user.name, "/users/#{user.id}/wishlist/#{@event.id}" %></h5></li>
<% end %></ul>
<br><br><br>
<div class="buttons">
<%= button_to "Delete Event", @event, :method => :delete %>
</div>